.text{
    background-color: cornsilk;
}
.member{
    background-color: aliceblue;
}
.profile{
    background-color: darkgrey;
}
.photo-gallery{
    background-color: beige;
}
footer{
    background-color: black;
}